{% extends 'store/base.html' %}
{% load staticfiles %}

{% block title %}
    {% if category %}
        {{ category_name }}
    {% else %}
        Все товары
    {% endif %}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{{ product.product_image.url }}">
        <h1>{{ product.product_name }}</h1>
        <h2><a href="{{ product.product_category.get_absolute_url }}">
            {{ product.product_category }}
        </a></h2>
        <p class="price">${{ product.product_price }}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ cart_product_form }}
            <input type="submit" value="Добавить в корзину">
        </form>
        {{ product.product_description|linebreaks }}
    </div>
{% endblock %}
